<iframe
  class="w-full h-full absolute"
  src="https://www.youtube.com/embed/8xjSvwi7W-0?autoplay=1&mute=1&loop=1&controls=0"
  frameBorder="0"
></iframe>
<div class="h-screen bg-white">
  <div
    class="w-full h-full absolute text-white bg-gradient-to-r from-black pt-[16%] pl-24"
  >
    <h1 class="text-6xl font-bold">Crakk - Jeetegaa Toh Jiyegaa</h1>
    <p class="inline-block py-6 text-xl w-1/4 flex-wrap">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <div class="flex gap-2">
      <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]">
        ▶️ Play
      </button>
      <button class="bg-gray-500 text-white px-12 py-4 bg-opacity-50 rounded-lg hover:bg-slate-800">
        More Info
      </button>
    </div>
  </div>
</div>
